.patient-list-bottom-right {
  width: 100%;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 5px;
  padding: 20px;
}

.patient-list-bottom-right-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patient-list-bottom-right-title {
  color: #273546;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
}

.add-file-btn {
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  color: #0d53fc;
  font-size: 13px;
  font-weight: 700;
}

.add-file-icon {
  font-size: 20px;
  margin-right: 5px;
  color: #0d53fc;
}

.patient-list-bottom-right-body {
  padding: 30px 0;
}

.file-detail {
  width: 100%;
  height: 40px;
  background-color: white;
  box-shadow: 0px 1px 5px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 8px;
}

.file-detail > div {
  display: flex;
  align-items: center;
}

.file-detail > div > h6 {
  margin: 0;
  font-size: 13px;
  color: #555;
  margin-left: 10px;
}

.file-icon {
  font-size: 19px;
  color: #555;
}

.file-size {
  color: #555;
  font-size: 11px;
  margin: 0;
}
