.demo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.demo-container > h1 {
  color: #333;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
